@charset "UTF-8";

:root {
    --color1: #6c788e;
    --color2: #a6aec1;
    --color3: #cfd5e1;
    --color4: #ededf2;
    --color5: #fcfdff;
}

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color3);
}



/* header */



header {
    padding: 1.5em 2em;
    background-color: var(--color1);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: calc(100% - 4em);
    z-index: 1;
}

header>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header>div>h1 {
    font-size: clamp(1.5em, 4vw, 2.3em);
}

header>span {
    font-size: 30px;
    cursor: pointer;
}

header>nav {
    width: 100%;
    margin: 1.5em 0px 0px;
    display: none;
    justify-content: center;
}

header>nav>a {
    padding: 10px 1em;
    color: var(--color5);
    text-decoration: none;
    font-weight: 700;
    transition: all .3s ease;
}

header>nav>a:hover {
    background-color: var(--color2);
}

header>nav>a:first-child {
    border-radius: 30px 0px 0px 30px;
}

header>nav>a:last-child {
    border-radius: 0px 30px 30px 0px;
}



/* footer */



footer {
    background-color: var(--color1);
    padding: 3em 0px;
}

footer>p {
    color: var(--color5);
    font-weight: 700;
    text-align: center;
}



/* main */



main {
    margin: 110px 0px 3em;
    background-color: var(--color4);
}

.title {
    background-color: var(--color2);
}

.title>p {
    text-align: center;
    padding: 10px;
    color: var(--color5);
    font-weight: 800;
}



/* referencias */



.referencia {
    padding: 1em 0px;
}

.referencia>h2 {
    background-color: var(--color1);
    padding: 1em;
    text-align: center;
    color: var(--color4);
    font-weight: 800;
}

.referencia>p {
    text-indent: 1em;
    margin: 2em 10px;
}



















/* carrousel */



.carrousel {
    padding: 1em;
    margin: 2em 0px;
    background-color: var(--color1);
}

.carrousel>section {
    text-align: center;
    color: var(--color5);
    border-bottom: 4px solid black;
    margin: 0px 0px 1em;
    padding: 10px;
}

/* noticias */



.news>section>h2, .news>section>p {
    text-align: center;
}

.news>section>hr {
    margin: 10px;
}

.bloco-news>div {
    border: 2px solid var(--color1);
    box-shadow: 10px 10px 15px var(--color1);
    border-radius: 30px;
    padding: 1em;
    margin: 10px;
}

.bloco-news>div>div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;
    margin: 0px 20px;
}

.bloco-news>div>h2 {
    margin: 10px 10px;
}

.bloco-news>div>p {
    text-indent: 1em;
}